ul {
  list-style: none;
}

.button {
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
}

.button:hover {
  color: #465929;
  background-color: transparent;
  border: 2px solid #819b57;
  border-radius: 8px;
}

.link {
  color: #faf4ea;
}

.link:hover {
  color: #819b57;
}

.hero-title {
  color: #faf4ea;
}

.hero-title .accent {
  color: #819b57;
}

.advantages-list {
  color: #faf4ea;
  background-color: #819b57;
}
